# Python
__pycache__/
*.pyc
*.pyo

# SQLite
*.db
*.db-wal
*.db-shm

# 実行状態保存
*_resume.json
*_state.json

# Android
*.apk

# PyInstaller
build/
dist/

# Windows実行ファイル
*.exe

# ログ
*.log

# 画像
*.jpg
*.jpeg
*.png
*.webp
*.gif

# 動画
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm

# 音声
*.mp3
*.wav
*.flac
*.aac
*.m4a
*.ogg